{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",

  // overwriting airbnb rules
  "rules": {
    // for @App (etc), new app() should still warn that it wants a cap
  	"new-cap": [2, {"capIsNew": false}]
  }
}