<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <clicker-ngrx-form (newClicker)="newClicker($event)"></clicker-ngrx-form>
  <ion-row *ngFor="let clicker of data$ | async" class="clickerList">
    <ion-col width-80><clicker-ngrx-button (doClick)="doClick($event)" [clicker]="clicker"></clicker-ngrx-button></ion-col>
    <ion-col>
      <button block danger outline (click)="removeClicker(clicker.id)"><ion-icon name="trash"></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-content>
